input[type=button] {
	background: transparent;
	border: 0;
	padding: 0;
	cursor: pointer;
	outline: 0;
	display: inline-block;
	position: relative;
	padding: 1.5rem 3rem;
	top: 0;
	color: #fff;
	font-size: 1.4rem;
	font-weight: 600;
	border-radius: 5rem;
	background-color: var(--color-primary);
	transition: all 0.2s ease;
}

input[type=button]:hover {
	top: -.8rem;
	box-shadow: var(--shadow-blue-dark);
}

input[type=button]:active {
	background-color: var(--color-primary-dark);
}

input[type=button]:active {
	top: 0;
	box-shadow: none;
}

@media only screen and (max-width: 600px) {
	input[type=button]:focus {
		top: 0;
		box-shadow: none;
	}
}
