.header {
	padding: 3rem;
	background-color: var(--color-primary);
	color: white;
	border-radius: 2rem;
	overflow: hidden;
	text-align: center;
}

@media only screen and (max-width: 600px) {
	.header {
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
}
