@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

:root {
	--color-primary: #3392ff;
	--color-primary-light: #36b2ff;
	--color-primary-dark: #0a7dff;

	--color-grey-light-1: #faf9f9;
	--color-grey-light-2: #f4f2f2;
	--color-grey-light-3: #f0eeee;
	--color-grey-light-4: #ccc;

	--color-grey-dark-1: #333;
	--color-grey-dark-2: #777;
	--color-grey-dark-3: #999;

	--shadow-dark: 0 2rem 3rem rgba(0, 0, 0, .15);
	--shadow-light: 0 2px 1rem rgba(0, 0, 0, 0.15);

	--shadow-blue-dark: 0px 1rem 1rem rgba(51, 146, 255, 0.2);

	--line: 1px solid var(--color-grey-light-2);
}

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 1.6;
	font-size: 1.4rem;
	background-color: rgb(238, 238, 238);
	background-size: cover;
	background-repeat: no-repeat;
	color: var(--color-grey-dark-1);
}

.App {
	max-width: 45rem;
	margin: 30px auto;
	border-radius: 2rem;
	overflow: hidden;
	background-color: white;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
	min-height: 100vh;
}

@media only screen and (max-width: 600px) {
	.App {
		max-width: none;
		margin: 0;
		width: 100vw;
		border-radius: 0;
	}
}
